/build/
/libs/
/Global/
controllerHandler/CryptoKey.h
controllerHandler/DoorAccessControllerParams.h
.project
.settings
*.o
controller-meeting.conf
app_version_handler_config.json

# dore dump
core.*
