# copy this file and rename to controller-meeting.conf before any editing
# copy this file and rename to controller-meeting.conf before any editing
# copy this file and rename to controller-meeting.conf before any editing

#-------------------------------Client Service-------------------------------#
[CLIENT MEETING_AGENT]
ip     = 127.0.0.1
port   = 2101

#-------------------------------System Log-------------------------------------------#
[LOG]
# Base path of log file, date (yyyy-mm-dd) will be appended to the end
log =

[APP DOWNLOAD INFO CONFIG]
# 2 ways to get app download link watcher working

# 1
# why put config_name in config_dir?
# TODO explain
#config_dir = 
#config_name = 

# 2: use apk scanner
aapt_path = 
apk_dir = 
package_name = 
download_link_base = 
